.container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin: 0 15px 0 10px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-One);
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  width: 20%;
}

.iconTitle {
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 10px;
}


.copyright {
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 10px;
}

.banner {
  justify-self: flex-end;
}