html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --color-One: #00a838;
  --color-Two: #badc58;
  --bg-color: #fff;
  --bg-color-Two: rgb(250, 255, 228);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}