.container {
  width: 100vw;
  height: 45vh;
  background-image: url(/img/newsletter.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletterBox {
  width: 50%;
  height: 80%;
  background-color: rgba(200, 200, 200, 0.7);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.title {
  font-weight: 300;
  color: #000;
  letter-spacing: 2px;
}

.input {
  height: 3rem;
  width: 50%;
  border: none;
  border-radius: 30px;
  padding: 10px;
}

.btn {
  width: 20%;
  height: 2rem;
  border-radius: 20px;
  border: none;
  background-color: var(--color-One);
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
}